html, body {
    height : 100%;
    margin-bottom : 0;
    background-color: #333;
    color: #fff;  
    box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.3) 100%),
        url(public/images/alaska.jpg);
    background-attachment: fixed;
    background-size : cover;
 }

 h3
 {
     font-size: 4em;
 }
/*.page-color
{
    background-color: #333
}
#home-header
{
    margin-top:20px;
}
footer{
    background-color: grey;
    padding: 20px;
}

#icon_sn>img
{
    width: 50px;
}

#bot-page
{
    padding: 20px;
}

#gatcha 
{
    margin-top: 100px;
    font-size: 2em;
}*/
/*@media (max-width: 768px) 
{
    #nav_head
    {
        display: flex;
        flex-direction: column;
    }
}*/
/*body
{
    width: 100%;
    background-image: url(public/images/lac_glacier.jpg);
    background-size : cover;
    background-position : center;
    background-attachment: fixed;
    position: relative;
}

body div
{
    display : block;
}

/* Page entière 


/* Menu en-tête 
.head_fixe
{
    display:flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1000;
    width : 100%;
    background-color: #04498C;
    top: 0;
	right: 0;
    left: 0;
    opacity: 90%;
}

/* Navigation
.head_menu ul
{
    display : flex;
    margin-top: 30px;
}
.head_menu li
{
    list-style-type: none;
    margin-left: 30px;
    font-size: large;
}

.head_menu a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
}

/*Nom de l'auteur

.main_title
{
    font-style: italic;
    color: #fff;
}

 /* Titre de présentation  

.front_title
{
    width: 100%;
}

.title
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text_title
{
    text-align : center;
}

.text_title>h2
{
    color: #fff;
    text-align:center;
    position: relative;
    display: inline-block;
}
/*formulaire de contact 
.form_container
{
    margin-top: 100px;
    width: 100%;
    justify-content: center;
}

.form_name
{
    display: flex;
}
.form_name>div
{
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.resume_admin
{
    margin-top: 100px;
}*/