/* Page entière */
.page_block
{
    margin : auto;
    width: 100%;
}

/* Menu en-tête */
.head_fixe
{
    display:flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1000;
    width : 100%;
    background-color: red;
    top: 0;
	right: 0;
    left: 0;
}
/* Navigation */ 
.head_menu ul
{
    display : flex;
}

.head_menu li
{
    list-style-type: none;
}

.head_menu a
{
    text-decoration: none;
    color: #494949;
}

/*Nom de l'auteur */

.main_title
{
    font-style: italic;
    margin-top: 50px;
}

/*Image de présentation */

.front_image
{
    width: 100%;
}

.form_container
{
    margin-top: 100px;
    width: 100%;
    justify-content: center;
}

.form_name
{
    display: flex;
}
.form_name>div
{
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.resume_admin
{
    margin-top: 100px;
}