html, body {
    height : 100%;
    margin-bottom : 0;
    background-color: #333;
    color: #fff;  
    box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 100%),
        url(../images/alaska.jpg);
    background-attachment: fixed;
    background-size : cover;
 }

 h3
 {
     font-size: 4em;
 }

 .main_section
 {
     margin-top: 50px;
     height: inherit;
 }

 #nav_main
 {
    border-top: 2px solid;
 }

 /* Page bio */
 .front_image
 {
     border-radius: 40px;
     width: 80%;
     padding-top: 1em;
 }

.text_bio_1
 {
     text-align: justify;
     padding: 1em;
 }
 .text_bio_2
{
    text-align: justify;
}

/* Formulaire de contact */
input
{
    width: 50%;
    border-radius: 10px;
    border: 2px solid black;
}

#message
{
    width: 50%;
    border-radius: 10px;
    border: 2px solid black;
}

.button_contact
{
    box-shadow: inset 10px black;
}
 /* Select chapter */ 
 .card-deck
 {
    margin-top: 20px;
 }

 /*Reading page */

 #chapter_align
 {
     text-align: justify;
 }
/* Responsive */ 
@media (max-width: 768px) 
{
    h3 {
        font-size: 2.5em;
    }

    input, #message {
        width : 100%;
    }

}