body
{
    display: block;
}
li{
    list-style-type: none;
}
/*body
{
    width: 100%;
    background-image: url(public/images/lac_glacier.jpg);
    background-size : cover;
    background-position : center;
    background-attachment: fixed;
    position: relative;
}

body div
{
    display : block;
}

/* Page entière 


/* Menu en-tête 
.head_fixe
{
    display:flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1000;
    width : 100%;
    background-color: #04498C;
    top: 0;
	right: 0;
    left: 0;
    opacity: 90%;
}

/* Navigation
.head_menu ul
{
    display : flex;
    margin-top: 30px;
}
.head_menu li
{
    list-style-type: none;
    margin-left: 30px;
    font-size: large;
}

.head_menu a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
}

/*Nom de l'auteur

.main_title
{
    font-style: italic;
    color: #fff;
}

 /* Titre de présentation  

.front_title
{
    width: 100%;
}

.title
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text_title
{
    text-align : center;
}

.text_title>h2
{
    color: #fff;
    text-align:center;
    position: relative;
    display: inline-block;
}
/*formulaire de contact 
.form_container
{
    margin-top: 100px;
    width: 100%;
    justify-content: center;
}

.form_name
{
    display: flex;
}
.form_name>div
{
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.resume_admin
{
    margin-top: 100px;
}*/