.head_fixe
{
    display:flex;
    position: fixed;
    justify-content: space-around;
    width : 100%;
    height: 80px;
    background-color: beige;
    top: 0;
	right: 0;
    left: 0;
    z-index : 1000;
}

.main_title
{
    font-style: italic;
    margin-top: 30px;
    align-self: left;
}

.front_image
{
    width: 100%;
}

.form_container
{
    margin-top: 100px;
    position: absolute;
    width: 100%;
    justify-content: center;
}

.form_name
{
    display: flex;
}
.form_name>div
{
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}