html, body {
    height : 100%;
    margin-bottom : 0;
    color: #fff;  
    box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 100%),
        url(../images/alaska.jpg);
    background-attachment: fixed;
    background-size : cover;
 }

 h3
 {
     font-size: 4em;
 }

 .main_section
 {
     margin-top: 50px;
     height: inherit;
     
 }

 #nav_main
 {
    border-top: 2px solid;
 }

 .main-title
 {
     font-size: 4em;
 }
 /* Page bio */
 .front_image
 {
     border-radius: 40px;
     width: 80%;
     padding-top: 1em;
 }

.text_bio_1
 {
     text-align: justify;
     padding: 1em;
 }
 .text_bio_2
{
    text-align: justify;
}

/* Formulaire de contact */
input
{
    width: 50%;
    border-radius: 10px;
    border: 2px solid black;
}

#message
{
    width: 50%;
    border-radius: 10px;
    border: 2px solid black;
}

 /* Select chapter */ 
 .card-container
 {
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
 }

.bg-dark2
{
    background-color: rgb(33, 37, 41, 0.8);
    
}

.chapter-block
{
    padding: 10px;
}

 /*Reading page */

 .chapter-align
 {
     
     text-align: justify;
 }

 #comment
 {
    width: 50%;
    border-radius: 10px;
    border: 2px solid black;
 }

 .border-section{
    border-top : 2px solid #fff; 
    padding-top: 10px;
 } 

 /*Creating page */

.form_creation
{
    height: 100%;
}

/*admin page */ 

#card_admin
{
    width: 100%;
}
#card_admin>div>div>a
{
    margin-top: 50px;
}

.btn-admin
{
    width : 50px;
}
.border-comment{
    border-top: 1px outset black; 
    padding-top: 10px;
}

/* fake command */
.fake-btn
{
    width: 20%;
}
/* Responsive */ 
@media (max-width: 768px) 
{
    h3 {
        font-size: 2.5em;
    }

    input, #message {
        width : 100%;
    }

    #comment
    {
        width: 100%;
    }

}