.head_fixe
{
    display:flex;
    position: fixed;
    justify-content: space-around;
    width : 100%;
    background-color: beige;
    top: 0;
	right: 0;
    left: 0;
    z-index : 1000;
}

.main_title
{
    font-style: italic;
    margin-top: 20px;
}